MONGODB_URI=mongodb+srv://cjonwubuya_db_user:<db_password>@cluster0.huvmqgs.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
MONGODB_DB=official
MONGODB_USERS_COLLECTION=users
MONGODB_LOGINS_COLLECTION=logins
AUTH0_DOMAIN=
AUTH0_CLIENT_ID=
